@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ÜRÜN - EKLE / GÜNCELLE</h1>
<hr />

<form asp-action="CreateOrUpdate" enctype="multipart/form-data" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Marka</label>
            <input type="text" class="form-control" name="Marka" id="Marka" placeholder="Marka">
        </div>
        <div class="form-group col-md-6">
            <label>Urun Adi</label>
            <input type="text" class="form-control" name="Adi" id="Adi" placeholder="Urun Adi">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Barkod</label>
            <input type="text" class="form-control" name="Barkod" id="Barkod" placeholder="Barkod">
        </div>
        <div class="form-group col-md-4">
            <label for="">Firma</label>
            <input type="text" class="form-control" name="Firma" id="Firma" placeholder="Firma">
        </div>
        <div class="form-group col-md-3">
            <label for="">Urun Kodu</label>
            <input type="text" class="form-control" name="Kodu" id="Kodu" placeholder="Urun Kodu">
        </div>
        <div class="form-group col-md-3">
            <label for="">Ulke</label>
            <input type="text" class="form-control" name="Ulke" id="Ulke" placeholder="Ulke">
        </div>
    </div>
    <div class="form-group">
        <label for="Aciklama">Aciklama</label>
        <textarea class="form-control" id="Aciklama" name="Aciklama" rows="2"></textarea>
    </div>
    <div class="form-group">
        <label for="Not1">Not1</label>
        <textarea class="form-control" id="Not1" name="Not1" rows="2"></textarea>
    </div>
    <div class="form-group">
        <label for="Not2">Not2</label>
        <textarea class="form-control" id="Not2" name="Not2" rows="2"></textarea>
    </div>
    <div class="form-group">
        <label for="Resim">Urun Resim</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="file" name="file">
            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
            <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>
    </div>
    <div class="form-group text-right">
        <input type="submit" class="btn btn-light input-group-lg" value="Resim Yükle" />
    </div>
</form>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}