@{
    ViewData["Title"] = "Yonetim - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/sniper.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-8">
            <input id="txtsearchkey" type="text" class="form-control" />
        </div>
        <div class="col-4">
            <select name="criteria" id="criteria" class="form-control">
                <option value="Urun">Urun</option>
                @*@foreach (var item in Enum.GetValues(typeof(Boykot.WebApp.Enums.SearchCriteriaEnum)))
                {
                <option value="@item.ToString()">@item.ToString()</option>
                }*@
            </select>
        </div>
    </div>
    <div class="row">
        <br />
        <br />
        <div class="spinner" style="display:none">
            <div class="center-div">
                <div class="inner-div">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
        <table id="tblProducts" class="table table-hover">
            <tr>
                <th style="width: 40px">Adi</th>
                <th style="width: 40px">Marka</th>
                <th style="width: 20px">Kod</th>
                <th style="width: 20px">Barkod</th>
                <th style="width: 20px">Ülke</th>
                <th style="width: 10px">Sil</th>
                <th style="width: 10px">Güncelle</th>
            </tr>
        </table>
        <!--#region select data  -->
        <script src="~/js/admin.js"></script>
        <!--#endregion -->
    </div>
</div>



